.header{
    padding-left: 10px;
    padding-bottom: 5px;
    align-items: center;
}

#name{
    font-weight: bold;
    font-size: 16px;
}

.brdr {
    border-bottom: 1px solid rgb(221, 221, 221);
}

body{
    width: 300px;
}

h4{
    font-weight: normal;
    font-size: 16px;
}

.switch-panel{
    padding-left: 15px;
    padding-bottom: 15px;
}