.switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 20px;
    margin-bottom: 0;
    flex-shrink: 0;
  }
  .switch input {
    display:none;
  }
  .switch span{
      position: absolute;
      left: 45px;
      width: 100px;
      font-size: 14px;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    /* background-color: #7769FE; */
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #2163df;
    /* background-color: #afa7ff; */
  }
  input:checked + .slider:before {
    background: white;
    /* background: #7a6dff; */
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 12px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
